
.line-1 {
  display: flex;
}
.my-dp {
  width: 38rem;
  height: 48rem;

}
.dp {
  height: 49rem;
  width: 37rem;
  margin-left: -4px;
  margin-top: -5px;
  position: fixed;
}
.intro {
  height: 20rem;
  width: 53.5rem;
  align-content: center;
  text-align: center;
}
.resume {

  align-content: center;
  color: black;
  height: 2rem;
  width: 8.3rem;
  margin-left: 22.5rem;
  background-color: lightgray;
  /*opacity: 0.7;*/
}
.resume:hover {
  opacity: 1;
  color: #ffffff;
  background-color: #555555;
  cursor: pointer;
}
.content {

  margin-top: 4rem;
  width: 53.5rem;
  display: block;
}
.me {
  color: #555555;
  margin-top: 4rem;
}
.pic1 {
  height: 25em;
  width: 20rem;
  padding: 2px;
}.pic2 {
  height: 25em;
  width: 32.7rem;
  padding: 2px;
}.pic3 {
  height: 30em;
  width: 25rem;
  padding: 2px;
}.pic4 {
  height: 30em;
  width: 20rem;
  padding: 2px;
}
.pic6 {
  height: 32em;
  width: 53rem;
  padding: 2px;
}
.stats {

  margin-top: 4rem;
  height: 20rem;
  color: #555555;
}
.skills {
  color: #555555;
}

.bar {
 background: #888888;
  display: block;
  height: 20px;
  border: 1px solid rgba(0,0,0,0.3);
  overflow: hidden;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar span {
  height: 20px;
  float: left;
  background: linear-gradient(135deg, rgba(98, 96, 97, 0.8)100%, rgba(211, 206, 209, 0.8) 100%);
}
.bat {
  width: 90%;
  animation: bat 3s;
  color: white;
  text-align: center;
}.bowl {
  width: 40%;
  animation: bowl 3s;
   color: white;
   text-align: center;
}.field {
  width: 75%;
  animation: field 3s;
    color: white;
    text-align: center;
}
@keyframes bat {
  0% {
    width: 0%;
  }
  100%{
    width: 90%;
  }
}@keyframes bowl {
  0% {
    width: 0%;
  }
  100%{
    width: 40%;
  }
}@keyframes field {
  0% {
    width: 0%;
  }
  100%{
    width: 75%;
  }
}
li{
  list-style-type: none;
}
.carrier {
  display: flex;
  margin-top: 2rem;
  background-color: #555555;
  height: 6rem;
  width: 53.5rem;
}
.runs{
  text-align: center;
  height: 6rem;
  width: 14.125rem;
}
 .a {
   margin-top: -1rem;
   color: white;
 }
